.calcDisp {
    background-color: rgb(187, 180, 180);
    width: 100px;
    text-align: right;
    margin-bottom: 10px;
    color: white;
}

.btn, .clear-btn {
    width: 100px;
    text-align: center;
    background-color: rgb(187, 180, 180);
}

.clear-btn {
    margin-top: 10px;
    color: white;
}